
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --rl-white: white;
        --rl-black: black;
        --rl-blue: #0084fd;
        --rl-lightblue: #b5ddff;
        --rl-lightpurple: #9792e4;
        --rl-grey: #5a6e7f;
        --rl-darkgrey: #333333;
        --rl-orange: #fdc15f;
    }

    body {
        font-family: sans-serif;
        font-size: 14px;
    }

    header {
        background-color: var(--rl-blue);
        color: var(--rl-white);
    }

    footer {
        background-color: var(--rl-darkgrey);
    }

    main {
        background-color: lightgreen;
    }

/* #endregion Common */

/* #region Utilities */

    .container {
        width: 80%;
        margin: auto;
    }

    .py-1 {
        padding: 1rem 0;
    }

    .d-flex {
        display: flex;
    }

    .jc-sb {
        justify-content: space-between;
    }

    .ai-c {
        align-items: center;
    }

    .d-none {
        display: none;
    }

/* #endregion Utilities */


/* #region Debug */

    .debug100 {
        height: 100px;
    }

    .debug300 {
        height: 300px;
    }

/* #endregion Debug */


/* #region Header */

    header img {
        width: 80px;
        vertical-align: middle;
    }

    header i {
        font-size: 20px;
    }

    header ul {
        list-style: none;
    }

    header a {
        text-decoration: none;
        color: var(--rl-white);
        margin: 0 .75rem;
    }

    header a.getstarted {
        text-decoration: none;
        color: var(--rl-black);
        background-color: var(--rl-white);
        padding: 4px 8px;
        border-radius: 10px;
    }

/* #endregion Header */



@media screen and (min-width: 768px) {

    main {
        background-color: purple;
    }

    .container-md {
        width: 90%;
        margin: auto;
    }
    
}

@media screen and (min-width: 1200px) {

    main {
        background-color: yellow;
    }

    .container-lg {
        max-width: 1400px;
        width: 60%;
        margin: auto;
    }

    .d-block-lg {
        display: block;
    }

    .d-none-lg {
        display: none;
    }
    
}