
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --rl-white: white;
        --rl-black: black;
        --rl-blue: #0084fd;
        --rl-lightblue: #b5ddff;
        --rl-lightpurple: #9792e4;
        --rl-grey: #5a6e7f;
        --rl-darkgrey: #333333;
        --rl-orange: #fdc15f;
    }

    body {
        font-family: sans-serif;
        font-size: 14px;
    }

    header {
        background-color: var(--rl-blue);
        color: var(--rl-white);
    }

    footer {
        background-color: var(--rl-darkgrey);
    }

/* #endregion Common */


/* #region Utilities */

    .container {
        width: 80%;
        margin: auto;
    }

    .py-1 {
        padding: 1rem 0;
    }

    .d-flex {
        display: flex;
    }

    .jc-sb {
        justify-content: space-between;
    }

    .jc-c {
        justify-content: center;
    }

    .ai-c {
        align-items: center;
    }

    .ai-fe {
        align-items: flex-end;
    }

    .fd-col {
        flex-direction: column;
    }

    .f-wrap {
        flex-wrap: wrap;
    }

    .gap-1 {
        gap: 1rem;
    }

    .d-none {
        display: none;
    }

    .col-4 {
        width: calc(100% /12* 4);
    }

    .col-6 {
        width: calc(100% /12* 6);
    }

    .col-8 {
        width: calc(100% /12* 8);
    }

    .col-12 {
        width: 100%;
    }

    .ta-c {
        text-align: center;
    }

/* #endregion Utilities */


/* #region Debug */

    .debug100 {
        height: 100px;
    }

    .debug300 {
        height: 300px;
    }

/* #endregion Debug */


/* #region Header */

    header img {
        width: 80px;
        vertical-align: middle;
    }

    header i {
        font-size: 20px;
    }

    header ul {
        list-style: none;
    }

    header a {
        text-decoration: none;
        color: var(--rl-white);
        margin: 0 .75rem;
    }

    header a.getstarted {
        text-decoration: none;
        color: var(--rl-black);
        background-color: var(--rl-white);
        padding: 4px 8px;
        border-radius: 10px;
    }

/* #endregion Header */


/* #region Activities */

    .activities {
        padding: 3rem 0;
    }

    .card {
        background-color: var(--rl-lightblue);
        border-radius: 40px;
        padding: 2rem;
        padding-bottom: 0;
        margin: 1rem 0;
    }

    .card h2 {
        color: var(--rl-blue);
        padding: 1.5rem 0;
    }

    .card p {
        color: var(--rl-grey);
        padding-bottom: 1.5rem;
        line-height: 1.5rem;
        font-weight: bold;
    }

    .card a {
        margin-bottom: 1.5rem;
        width: 210px;
        padding: 10px 0;
        border-radius: 20px;
        background-color: var(--rl-blue);
        color: var(--rl-white);
        text-decoration: none;
        text-align: center;
    }

    .card img {
        width: 100%;
        max-width: 400px;
    }

    .card i.fa-file-code, .card i.fa-compass-drafting, .card i.fa-laptop-code, .card i.fa-bullhorn {
        font-size: 72px;
        color: var(--rl-blue);
    }

/* #endregion Activities */


/* #region planning */

    .planning {
        background-color: var(--rl-lightpurple);
        padding: 3rem 0;
    }

    .strat-plan-card {
        color: var(--rl-white);
        padding: 1.5rem;
    }

    .strat-plan-card h2 {
        padding: 1.5rem 0;
    }

    .strat-plan-card p {
        line-height: 1.5rem;
    }

    .strat-plan-card img {
        width: 100%;
    }

    .app-dev-card {
        background-color: var(--rl-white);
        border-radius: 40px;
        padding: 1.5rem;
        text-align: center;
    }

    .app-dev-card h2 {
        padding: 1.5rem 0;
    }

    .app-dev-card p {
        line-height: 1.5rem;
    }

    .app-dev-card img {
        width: 80%;
    }

    .app-dev-card .arrow {
        background-color: var(--rl-lightpurple);
        padding: 1.25rem 1.5rem;
        border-radius: 50%;
        margin-top: 1rem;
        vertical-align: middle;
        display: inline-block;
    }

/* #endregion planning */


/* #region testimonial */

    .testimonials {
        padding: 3rem 0;
    }

    .testimonial-intro {
        padding-bottom: 1rem;
        text-align: center;
    }

    .testimonial-intro h2 {
        font-size: 24px;
        color: var(--rl-lightpurple);
        padding: 1rem 0;
     }

     .testimonial-intro div {
        line-height: 1.5rem;
     }

     .testimonial-col {
        padding: 1rem 0;
     }

    .testimonial-card {
        background-color: var(--rl-lightpurple);
        border-radius: 40px;
        padding: 2rem 2.5rem;
        color: var(--rl-white);
    }

    .testimonial-img img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }

    .testimonial-quote {
        padding: 1rem 0;
        text-align: center;
        line-height: 1.5rem;
    }

    .testimonial-name {
        font-weight: bold;
        padding-top: .75rem;
     }

/* #endregion testimonial */


/* #region benefits */

    .benefits {
        padding: 3rem 0;
        background-color: var(--rl-lightpurple);
    }

    .benefit-intro {
        padding-bottom: 1rem;
        color: var(--rl-white);
        text-align: center;
        font-size: 24px;
    }

    .benefit-col {
        padding: 1rem;
    }

    .benefit-card {
        background-color: var(--rl-white);
        border-radius: 20px;
        padding: 2rem;
    }

    .benefit-card .number {
        color: var(--rl-lightpurple);
        font-size: 36px;
        font-weight: bold;
    }

    .benefit-card .benefit-title {
        color: var(--rl-lightpurple);
        font-size: 24px;
        font-weight: bold;
        padding: 1rem 0;
    }

    .benefit-card .benefit-descr {
        color: var(--rl-grey);
        line-height: 1.5rem;
        padding-bottom: 1rem;
    }

    .benefit-card a {
        background-color: var(--rl-lightpurple);
        color: var(--rl-white);
        text-decoration: none;
        padding: 5px 24px;
        border-radius: 15px;
    }

/* #endregion benefits */


/* #region about */

    .about {
        padding: 3rem 0;
    }

    .about-us h2 {
        color: var(--rl-lightpurple);
    }

    .about-us p {
        padding: 1rem 0;
    }

    .linkedin {
        color: var(--rl-lightpurple);
    }

    .linkedin-img {
        position: relative;
    }

    .linkedin img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }

    .linkedin-img i {
        position:absolute;
        top:0;
        right:0;
        font-size: 72px;
    }

/* #endregion about */


@media screen and (min-width: 768px) {

    .container-md {
        width: 90%;
        margin: auto;
    }

    .col-38-md {
        width: calc(100% /12 *3.8);
    }

    .col-4-md {
        width: calc(100% /12 *4);
    }

    .col-5-md {
        width: calc(100% /12 *5);
    }

    .col-6-md {
        width: calc(100% /12 *6);
    }

    .col-7-md {
        width: calc(100% /12 *7);
    }

    .col-79-md {
        width: calc(100% /12 *7.9);
    }

    .card img {
        width: 65%;
    }

    .fd-row-md {
        flex-direction: row;
    }

    .ta-l-md {
        text-align: left;
    }

    
}


@media screen and (min-width: 1200px) {

    .container-lg {
        max-width: 1400px;
        width: 60%;
        margin: auto;
    }

    .d-block-lg {
        display: block;
    }

    .d-none-lg {
        display: none;
    }

    .col-3-lg {
        width: calc(100% /12 *3);
    }

    .col-4-lg {
        width: calc(100% /12 *4);
    }

    .col-5-lg {
        width: calc(100% /12 *5);
    }

    .col-6-lg {
        width: calc(100% /12 *6);
    }

    .col-7-lg {
        width: calc(100% /12 * 7);
    }

    .col-9-lg {
        width: calc(100% /12 * 9);
    }

    .fd-row-lg {
        flex-direction: row;
    }

    .card img {
        width: 100%;
    }

}